@charset "UTF-8";
p,h1,h2,h3:hover{
    cursor: context-menu;
}
button:hover{
    cursor: pointer;
}
*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #8ED7E6;
    min-width: 250px;
}
header{
    text-align: center;
    background-image: url(imagens/wallpaper002.jpg);
    background-size: cover;
    background-attachment: fixed;
}
header > h1{
    padding: 40px 0px 30px 0px;
    color: white;
    font-size: 50px;
}
header > h1 > a{
    text-decoration: none;
    color: white;
}
header > h1 > a:hover{
    color: #1F5661;
    transition: 0.1s;
}
header > p{
    margin: 0px auto 40px auto;
    color: white;
    min-width: 300px;
    max-width: 900px;
    text-align: center;
    line-height: 25px;
}
header > div{
    padding: 0px;
    background-color:#1F5661 ;
    word-spacing: 50px;
    text-align: center;
    height: auto;
    border: 1px solid black;
    border-left: 0px;
    border-right: 0px;
    box-shadow: rgba(0, 0, 0, 0.247) 0px 2px 4px 1px;
}
header > div > p{
    line-height: 65px;
    min-width: 300px;
    width: auto;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
header > div > p:hover{
    cursor: context-menu;
}
header > div > p >a{
    word-spacing: auto;
    text-decoration: none;
    color: #8ED7E5;
    font-weight: bold;
}
header > div > p > a:hover{
    color: #222d30;
    transition: 0.1s;
    text-shadow: rgba(65, 179, 194, 0.514) 0px 0px 5px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}
main{
    padding: 10px 10px 10px 20px;
    background-image: url(imagens/160-1609789_gradiente-azul-claro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px auto 0px auto;
    max-width: 1100px;
    min-height: 300px;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.300) 0px 0px 10px 1px;
}
main > h1{
    padding: 20px 0px 10px 20px;
}
#cabeçalhosec{
    padding: 40px 10px 50px 10px;
    text-align: center;
    background-image: url(imagens/wallpaper002.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: auto;
    margin: 20px 40px 40px 20px;
    color: white;
    box-shadow: inset black 0px 0px 8px 1px;
}
#cabeçalhosec > h2{
    padding-bottom: 35px;
    font-size: 35px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.548);

}
#cabeçalhosec > article > p{
    width: auto;
    height: auto;
    min-width: auto;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.349);
    padding: 6px;
    border-radius: 2px;
    text-align: center;
}
.botao{
    margin: 40px auto -25px auto;
    color: white;
    background-color: rgb(46, 46, 46);
    border-radius: 16px;
    font-size: 16px;
    width: 150px;
    height: 40px;
    border: 1px inset;
    text-align: center;
}
main > div{
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
}
#content{
    margin-left: 6%;
}
#c1{
    display: inline-block;
    margin: 20px 1vw 60px 1vw;
    background-attachment: fixed;
    background-size: cover;
    width: 260px;
    padding: 10px;
    color: white;
    height: 420px;
    line-height: 40px;
    box-shadow: black inset 0px 0px 10px 1px;
    float: left;
}
#c1 > ul {
    width: 180px;
    margin:auto;
}
#c1 > h3{
    text-shadow: 1px 1px 3px black ;
}
#c2{
    display: inline-block;
    margin: 20px 1vw 60px 1vw;
    background-attachment: fixed;
    background-size: cover;
    width: 260px;
    padding: 10px;
    color: white;
    height: 420px;
    line-height: 33px;
    box-shadow: black inset 0px 0px 10px 1px;
    float: left;
}
#c2 > h3{
    padding-top: 2px;
    text-shadow: 1px 1px 3px black ;
}
#c2 > p {
    margin-top: 5px;
    height: 350px;
    padding: 5px 20px;
}
#c3{
    display: inline-block;
    margin: 20px 1vw 60px 1vw;
    background-attachment: fixed;
    background-size: cover;
    width: 260px;
    padding: 10px;
    color: white;
    height: 420px;
    line-height: 33px;
    box-shadow: black inset 0px 0px 10px 1px;
    float: left;
}
#c3 > h3{
    padding-top: 2px;
    text-shadow: 1px 1px 3px black ;
}
#c3 > p {
    margin-top: 5px;
    height: 350px;
    padding: 5px 20px;
    font-size: 16px;
    line-height: 28px;
}
.fundotransp{
    background-color: rgba(0, 0, 0, 0.548);
}
#rodape{
    text-align: center;
    background-color: black;
    height: 18px;
    color: white;
    text-decoration: none;
    font-size: 14px;
}
#rodape > a{
    text-decoration: none;
    color: cyan;
}