@charset "UTF-8";
@import url('../fontes/Mulish/static/*.ttf');
@import url('../fontes/Raleway/static/*.ttf');
@import url('../fontes/OpenSans/static/*.ttf');
:root{
    --primary-color: #3d9daa;
    --secondary-color: #127599;
    --tertiary-color: #e23f72;
    --quaternary-color: #398e99;

    --primary-font: 'Raleway', sans-serif;
    --secondary-font: 'Mulish', sans-serif;
    --tertiary-font: 'Open Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: var(--secondary-color);
}

header {
    background-color: var(--secondary-color);
    color: #fff;
    font-family: var(--secondary-font);
}

header > p {
    margin-bottom: 10px;
}

header > p:hover {
    background-color: var(--tertiary-color);
    transition: 0.3s;
}

header > p > a{
    padding-left: 10px;
}


header > p > span{
    padding-left: 10px;
    font-weight: bold;
}

header > img {
    width: 200px;
}

header input, nav {
    display: none;
}

#burguer-label {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    background-color: white;
    color: rgb(0, 0, 0);
    box-shadow: 0px 5px 4px rgba(3, 3, 3, 0.171);
}

header > nav {
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

header > nav > ul {
    list-style-type: none;
}

header > nav > ul > li {
    margin: 5px 5px;
    padding: 5px 0px;
    background-color: var(--primary-color);
    border-radius: 5px;
    font-weight: 500;
}

header > nav > ul > li > a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-family: var(--tertiary-font);
}

header a {
    width: 100vw;
    height: 100%;
    color: white;
    font-weight: 300;
    font-family: var(--tertiary-font);
    text-decoration: none;
}

header > p {
    font-weight: 200;
    
}

header > nav > ul > li:hover {
    background-color: var(--tertiary-color);
    transition: 0.3s;
}

header > nav > ul > li > a:hover {
    color: white;
    transition: 0.3s;
}

main {
    background-color: white;
    color: black;
    font-family: var(--secondary-font);
    margin: 15px auto;
    width: 90vw;
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

main h1, h2, h3{
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

main h1{
    font-family: 'Raleway', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    background-image: linear-gradient(to right, var(--primary-color), white, var(--primary-color));
    width: 100%;
    border-radius: 10px 10px 0 0;
    border-bottom: #e23f732d;
    border-bottom-style: solid;
    border-bottom-width: 5px;
}

main h2{
    font-size: 1.8em;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 30px;
}

main p {
    font-family: 'Mulish', sans-serif;
    text-indent: 30px;
    text-align: justify;
}

main > section {
    margin: 0 auto;
    width: 90%;
    border-radius: 10px;
    max-width: 800px;
    margin-bottom: 30px;
}

main > section#home {
    margin: 0 auto;
    width: 100%;
    border-radius: 10px;
    max-width: 800px;
}

main > section#home > div#missao-da-empresa {
    position: relative;
    background: white url(../imagens/topclean_background.jpg) no-repeat center center;
    background-size: cover;
    height: 280px;
    width: 100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.37);
}

main > section#home > div#missao-da-empresa > p {
    text-indent: 0;
    width: 180px;
    font-size: 1em;
    font-weight: 500;
    text-align: left;
    color: white;
    position: absolute;
    top: 65%;
    left: 78%;
    transform: translate(-50%, -50%);
    background-color: #127599b7;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
}

main > section#home > div#missao-da-empresa > p > span {
    font-size: 1em;
    font-style: italic;
}

main > section > div.home {
    border-radius: 10px;
    margin: 10px 10px;
}

main > section > div.home#limpeza-vidros {
    background: white url(../imagens/img-limpeza-de-vidros.jpg) no-repeat center center;
    background-size: cover;
}

main > section > div.home#limpeza-fachadas {
    background: white url(../imagens/img-limpeza-de-fachadas.jpg) no-repeat center center;
    background-size: cover;
}

main > section > div.home > p{
    background-color: #ffffffce;
    margin-bottom: 0px;
    padding: 15px;
    font-weight: 600;
}

main > section > div.home > h2{
    background-image: linear-gradient(to left, white, #e23f7394);
    border-radius: 10px 10px 0 0;
    margin-bottom: 0px;
}



form {
    display: none;
}